@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap');

:root{
    --font: "Halant", serif;
    --cor-1: #2E073F;
    --cor-2:#7A1CAC;
    --cor-3: #AD49E1;
    --cor-4: #EBD3F8; 
}

body{
    background-color: var(--cor-3);
    color: var(--cor-4);
    font-family: var(--cor-3);
}

footer{
    background-color: var(--cor-1);
    color: var(--cor-3);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}